{% extends 'base.html'%}

{% block title %}
    Do It Now - About
{% endblock %}



{% block content %}
  <div class="about"> 
    {% block header %}
    <div class="about-page">
        <h1>About Do It Now!</h1>
    </div>
    {% endblock %}
    <section class="about-page">
        <section class="intro abt">
            <h1>Do It Now!</h1>
            <p class="tagline">
                No-frills task manager designed to help you focus
                on what matters most - getting things done.
            </p>
        </section>
        
        <section class="mission abt">
            <h2>Our mission</h2>
            <p>Our goal is to make productivity feel less like a chore and more like progress. We believe small steps today build big wins tomorrow.</p>
        </section>

        <section class="features abt">
            <h2>Who It's For</h2>
            <p>
                Whether you're a  student juggling assigments, a professional managing projects, or just someone trying to remember to water the plants - Do It Now! has your back.
            </p>
        </section>

        <section class="story abt">
            <h2>Take Action</h2>
            <p>Life doesn't wait - so why should you? Start checking off your list today.</p>
        </section> 
        <section>                                               <div>                                     
{% endblock %}