{% extends 'base.html'%}

{% block title %}
    Do It Now! - Contact Us
{% endblock %}

{% block content %}
  <div class="container"> 
     {% block header %}
    <div class="contact-header">
        <h1 >Contact Us</h1>
        <p>
            Have questions, suggestions, or just want to say hi? We'd love to hear from you
        </p>
    </div>
    {% endblock %}
    <div class="contact-form">
        <form class="form" action="{{url_for('contact')}}" method="post">
            <label for="name" >Name</label><br>
            <input type="text" name="name" id="name" required><br><br>

            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" required><br><br>

            <div class="message-box">
                 <label for="message">Message</label><br>
                <textarea name="message" id="message" rows="5" required></textarea><br><br>
                <button type="submit">Send Message</button>
            </div>
           
        </form>
    </div>                                        
    </div>                                     
{% endblock%}
