{% extends 'base.html' %}

{% block title %}
    Do It Now! - Login
{% endblock %}

{% block content %}
<div class="container">
   {% block header%}
   <div class="login">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}`
        <h1>Login and Do It Now!</h1>
   </div>
   {%endblock%}
    <section class="signup-page">
        <div class="form-container">
            <form action="{{url_for('login')}}" method="post">
                <input type="text" name="username" placeholder="Your name"><br>
                <input type="password" name="password" placeholder="*****" required><br>
                <div class="btn"><input type="submit" value="Login"></div>
            </form>
        </div>
            <h3 class="bottom">Don't have account? <a href="{{url_for('signup')}}">Signup</a></h3>
        </section>
    </div>
{% endblock %}